In [12]:
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.edge.service import Service

# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
service = Service(executable_path="C:\Program Files (x86)\msedgedriver.exe")
driver = webdriver.Edge(service=service)

# URL of the webpage containing the dropdown menu
url = "https://www.nba.com/stats/teams/traditional?dir=A&sort=W_PCT&Season="
driver.get(url)

<>:10: SyntaxWarning: invalid escape sequence '\P'
<>:10: SyntaxWarning: invalid escape sequence '\P'
C:\Users\admin\AppData\Local\Temp\ipykernel_11664\3825230251.py:10: SyntaxWarning: invalid escape sequence '\P'
  service = Service(executable_path="C:\Program Files (x86)\msedgedriver.exe")

In [ ]:
# PRESEASON PREDICTIONS #
# Introduce a wait to allow the page to load
time.sleep(2)

years = driver.find_elements(By.CLASS_NAME,"DropDown_select__4pIg9")[0].text.split('\n')[1:23]
table_data = []

# Loop through all seasons
for year in years:
    # For regular season either copy this file and create another one and change 'Pre' -> 'Regular';
    url = f"https://www.nba.com/stats/teams/traditional?dir=A&sort=W_PCT&Season={year}&SeasonType=Pre+Season"
    driver.get(url)

    # Find the table on the page
    table = WebDriverWait(driver, 5).until(
    EC.presence_of_element_located((By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table'))
    )

    # Store the table data in a variable for looping
    tbody = table.find_element(By.TAG_NAME, 'tbody')
    rows = WebDriverWait(driver, 5).until(
        EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
    )

    # table_data = []
    print(f"Adding {year} NBA data!")

    for row in rows:
        try:
            row_cells = row.find_elements(By.TAG_NAME, 'td')
            # Check if the row contains cells (data) before processing
            if row_cells[9:]:
                row_text = [cell.text for cell in row_cells]
                row_text.append(year)
                table_data.append(row_text) 
        except:
            # Handle StaleElementReferenceException by refinding the row
            rows = WebDriverWait(driver, 5).until(
                EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
            )
        
# Get table headers
headers = table.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/thead').text.split(' ')
headers.append('YEAR')

# Remove empty columns
headers.pop(0)

print('Data Collection Completed. Shutting down....')
# Close the browser window
driver.quit()

Adding 2024-25 NBA data!
Adding 2023-24 NBA data!
Adding 2022-23 NBA data!
Adding 2021-22 NBA data!
Adding 2020-21 NBA data!
Adding 2019-20 NBA data!
Adding 2018-19 NBA data!
Adding 2017-18 NBA data!
Adding 2016-17 NBA data!
Adding 2015-16 NBA data!
Adding 2014-15 NBA data!
Adding 2013-14 NBA data!
Adding 2012-13 NBA data!
Adding 2011-12 NBA data!
Adding 2010-11 NBA data!
Adding 2009-10 NBA data!
Adding 2008-09 NBA data!
Adding 2007-08 NBA data!
Adding 2006-07 NBA data!
Adding 2005-06 NBA data!
Adding 2004-05 NBA data!
Adding 2003-04 NBA data!

# Remove empty column

In [23]:
import pandas as pd

# Getting the headers from the data array
# It is important to remove them from the data array afterwards in order to be parsed correctly by Pandas
team_stats = pd.DataFrame(table_data, columns=headers)
team_stats

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Golden State Warriors,6,6,0,1.000,48.0,112.7,40.7,86.3,...,45.8,30.0,17.8,8.8,6.0,4.5,20.5,18.3,17.3,2024-25
1,2,Boston Celtics,5,4,1,.800,48.0,121.8,42.8,95.0,...,45.6,29.6,12.2,9.8,5.6,1.2,20.2,21.6,16.6,2024-25
2,2,LA Clippers,5,4,1,.800,48.0,105.8,38.8,81.8,...,43.8,24.4,19.0,13.6,7.0,5.2,19.0,21.0,9.2,2024-25
3,2,Miami Heat,5,4,1,.800,48.0,112.6,41.0,90.2,...,42.8,29.8,16.0,15.2,4.4,5.4,22.4,21.6,3.2,2024-25
4,2,New York Knicks,5,4,1,.800,48.0,114.2,39.6,91.6,...,46.8,23.4,12.6,8.8,4.2,5.0,17.8,24.6,7.0,2024-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,15,Milwaukee Bucks,1,0,1,.000,48.0,94.0,32.0,75.0,...,43.0,20.0,24.0,9.0,4.0,7.0,26.0,0.0,-11.0,2003-04
731,15,New York Knicks,1,0,1,.000,48.0,86.0,30.0,79.0,...,37.0,19.0,19.0,11.0,5.0,7.0,28.0,0.0,-18.0,2003-04
732,15,Orlando Magic,2,0,2,.000,48.0,93.5,34.0,74.5,...,35.5,16.0,17.5,10.5,5.0,4.5,25.0,0.0,-8.5,2003-04
733,15,Philadelphia 76ers,1,0,1,.000,53.0,79.0,26.0,79.0,...,44.0,7.0,20.0,7.0,3.0,6.0,30.0,0.0,-7.0,2003-04
734,15,Phoenix Suns,1,0,1,.000,48.0,79.0,26.0,78.0,...,43.0,17.0,18.0,8.0,9.0,5.0,30.0,0.0,-22.0,2003-04

# Cleaning

In [24]:
# Check data types
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           735 non-null    object
 1   TEAM    735 non-null    object
 2   GP      735 non-null    object
 3   W       735 non-null    object
 4   L       735 non-null    object
 5   WIN%    735 non-null    object
 6   MIN     735 non-null    object
 7   PTS     735 non-null    object
 8   FGM     735 non-null    object
 9   FGA     735 non-null    object
 10  FG%     735 non-null    object
 11  3PM     735 non-null    object
 12  3PA     735 non-null    object
 13  3P%     735 non-null    object
 14  FTM     735 non-null    object
 15  FTA     735 non-null    object
 16  FT%     735 non-null    object
 17  OREB    735 non-null    object
 18  DREB    735 non-null    object
 19  REB     735 non-null    object
 20  AST     735 non-null    object
 21  TOV     735 non-null    object
 22  STL     735 non-null    object
 23  BLK     735 non-null    object
 24  BLKA    735 non-null    object
 25  PF      735 non-null    object
 26  PFD     735 non-null    object
 27  +/-     735 non-null    object
 28  YEAR    735 non-null    object
dtypes: object(29)
memory usage: 166.7+ KB

In [26]:
team_stats.columns

Index(['', 'TEAM', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-', 'YEAR'],
      dtype='object')

In [27]:
# Rename empty column name to 'Rank'
team_stats = team_stats.rename(columns={"": "RANK"})
team_stats.head()

,RANK,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Golden State Warriors,6,6,0,1.000,48.0,112.7,40.7,86.3,...,45.8,30.0,17.8,8.8,6.0,4.5,20.5,18.3,17.3,2024-25
1,2,Boston Celtics,5,4,1,.800,48.0,121.8,42.8,95.0,...,45.6,29.6,12.2,9.8,5.6,1.2,20.2,21.6,16.6,2024-25
2,2,LA Clippers,5,4,1,.800,48.0,105.8,38.8,81.8,...,43.8,24.4,19.0,13.6,7.0,5.2,19.0,21.0,9.2,2024-25
3,2,Miami Heat,5,4,1,.800,48.0,112.6,41.0,90.2,...,42.8,29.8,16.0,15.2,4.4,5.4,22.4,21.6,3.2,2024-25
4,2,New York Knicks,5,4,1,.800,48.0,114.2,39.6,91.6,...,46.8,23.4,12.6,8.8,4.2,5.0,17.8,24.6,7.0,2024-25

In [28]:
# Convert following columns to floats
string_columns = ['RANK', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-']
team_stats[string_columns] = team_stats[string_columns].apply(pd.to_numeric, errors='coerce')

team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    735 non-null    int64
 1   TEAM    735 non-null    object
 2   GP      735 non-null    int64
 3   W       735 non-null    int64
 4   L       735 non-null    int64
 5   WIN%    735 non-null    float64
 6   MIN     735 non-null    float64
 7   PTS     735 non-null    float64
 8   FGM     735 non-null    float64
 9   FGA     735 non-null    float64
 10  FG%     735 non-null    float64
 11  3PM     735 non-null    float64
 12  3PA     735 non-null    float64
 13  3P%     735 non-null    float64
 14  FTM     735 non-null    float64
 15  FTA     735 non-null    float64
 16  FT%     735 non-null    float64
 17  OREB    735 non-null    float64
 18  DREB    735 non-null    float64
 19  REB     735 non-null    float64
 20  AST     735 non-null    float64
 21  TOV     735 non-null    float64
 22  STL     735 non-null    float64
 23  BLK     735 non-null    float64
 24  BLKA    735 non-null    float64
 25  PF      735 non-null    float64
 26  PFD     735 non-null    float64
 27  +/-     735 non-null    float64
 28  YEAR    735 non-null    object
dtypes: float64(23), int64(4), object(2)
memory usage: 166.7+ KB

In [ ]:
# team_stats['TEAM'].dropna()

0      Golden State Warriors
1             Boston Celtics
2                LA Clippers
3                 Miami Heat
4            New York Knicks
               ...
730          Milwaukee Bucks
731          New York Knicks
732            Orlando Magic
733       Philadelphia 76ers
734             Phoenix Suns
Name: TEAM, Length: 735, dtype: object

In [30]:
# Add short form team name
team_short_forms = {
    'Boston Celtics': 'BOS', 
    'Minnesota Timberwolves': 'MIN', 
    'Orlando Magic': 'ORL', 
    'Denver Nuggets': 'DEN', 
    'Milwaukee Bucks': 'MIL', 
    'Oklahoma City Thunder': 'OKC', 
    'New York Knicks': 'NYK',
    'Philadelphia 76ers': 'PHI',
    'Dallas Mavericks': 'DAL',
    'Sacramento Kings': 'SAC',
    'Miami Heat': 'MIA',
    'Phoenix Suns': 'PHX',
    'Los Angeles Lakers': 'LAL',
    'New Orleans Pelicans': 'NOP', 
    'Indiana Pacers': 'IND',
    'Cleveland Cavaliers': 'CLE',
    'Atlanta Hawks': 'ATL',
    'Brooklyn Nets': 'BKN', 
    'Houston Rockets': 'HOU', 
    'LA Clippers': 'LAC', 
    'Golden State Warriors': 'GSW', 
    'Toronto Raptors': 'TOR',
    'Charlotte Hornets': 'CHA',
    'Portland Trail Blazers': 'POR' ,
    'Utah Jazz': 'UTA', 
    'Chicago Bulls': 'CHI',
    'Memphis Grizzlies': 'MEM',
    'San Antonio Spurs': 'SAS',
    'Washington Wizards': 'WAS',
    'Detroit Pistons': 'DET',
    
}
team_stats['TEAM'] = team_stats['TEAM'].map(team_short_forms)

In [31]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    735 non-null    int64
 1   TEAM    608 non-null    object
 2   GP      735 non-null    int64
 3   W       735 non-null    int64
 4   L       735 non-null    int64
 5   WIN%    735 non-null    float64
 6   MIN     735 non-null    float64
 7   PTS     735 non-null    float64
 8   FGM     735 non-null    float64
 9   FGA     735 non-null    float64
 10  FG%     735 non-null    float64
 11  3PM     735 non-null    float64
 12  3PA     735 non-null    float64
 13  3P%     735 non-null    float64
 14  FTM     735 non-null    float64
 15  FTA     735 non-null    float64
 16  FT%     735 non-null    float64
 17  OREB    735 non-null    float64
 18  DREB    735 non-null    float64
 19  REB     735 non-null    float64
 20  AST     735 non-null    float64
 21  TOV     735 non-null    float64
 22  STL     735 non-null    float64
 23  BLK     735 non-null    float64
 24  BLKA    735 non-null    float64
 25  PF      735 non-null    float64
 26  PFD     735 non-null    float64
 27  +/-     735 non-null    float64
 28  YEAR    735 non-null    object
dtypes: float64(23), int64(4), object(2)
memory usage: 166.7+ KB

In [32]:
file_path = 'nba_preseason_team_stats.csv'
team_stats.to_csv(file_path, index=False)